<section class="card">
    <div class="card-body">
        <h1>Acerca de</h1>
        <p>Integrantes:</p>
        <p>Louys Genao Abreu: 2021-0339</p>
        <p>Yoquelvis Jorge Abreu: 2021-1227</p>
        <p>Alvin Alverto Villegas: 2021-0337</p>
        <p>Dhayana Kristal: 2021-0046</p>
    </div>
</section>