<section class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis laudantium, saepe nulla aliquam distinctio quidem libero perferendis et atque similique!</p>
    </div>
</section>