<div class="jumbotron mt-4">
    <h1 class="display-4">App Contactos</h1>
    <p class="lead">Aplicacion web para administrar contactos personales</p>
    <hr class="my-4">
    <p>Repositorio del proyecto:</p>
    <a href="https://github.com/louysga/contact-app-web" class="btn btn-primary">Github</a>
</div>