<div class="jumbotron mt-4">
    <h1 class="display-4">Contact App</h1>
    <p class="lead">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Corrupti alias ratione ullam reiciendis illo ipsa?</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptates hic dolorum cum, nemo laborum debitis reiciendis laudantium eius sint minus?</p>
    <a href="https://www.google.com" class="btn btn-primary">Google</a>
</div>